node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
